<h1>Ye Olde Description</h1>

<h2>What is Main.hbs?</h2>
<p>
  Handlebars is the templating engine we're using to dynamically generate content in this assignment.
  Our "main.hbs" file is used to create the main structure of HTML pages, including elements like head and body, as well as links to our CSS and scripts.
  We put a placeholder for body in here which we will dynamically insert with our handlebars files, which makes our website modular and awesome.
</p>

<h2>What is AddEmployee.html?</h2>
<p>
  Addemployee.html is our form page where we collect employee information.
  After it is validated, it adds our employee's information to our JSON file so that it persists between page loads.
  This is the first time I've ever worked with data in this way, and it's pretty cool!
</p>

<h2>What is checkLastName?</h2>
<p>
  Checklastname is a function that prevents us from adding duplicates to our JSON file.
  If an employee already shares the same last name as the one we're trying to enter, they won't be added to the database.
</p>