<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Chris Simon - A4 Storefront</title>
      <!-- css files from our 'public' folder -->
      <link rel="stylesheet" type="text/css" href="/reset.css">
      <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="/theme.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:ital,wght@0,500;1,300;1,500&display=swap" rel="stylesheet">
  </head>
  <body>
    
    <!-- Navigation: This code is my own css from the theme.css file -->
    <nav>
        <a href="/">Home</a>
        <a href="/storefront">Storefront</a>
        <a href="/list">List</a>
        <a href="/table">Table</a>
    </nav>

    <!-- Header Content (using bootstrap) -->
    <div id="storefrontHeader" class="container py-5 my-5 pageHeading">
        <div class="jumbotron">
            <h1 class="display-4 contentHeading">Super amazing store</h1>
            <p class="lead">Check it out, the hottest shoes with the hottest deals around.</p>
        </div>
    </div>

    <!-- Body Content (using bootstrap) -->
    <div class="container mt-5">
        <div class="row">

        <!-- product 1 -->
        <div class="col-sm-12 col-md-4 mb-4">
            <div class="card">
                <img src="img/shoe1.png" class="card-img-top" alt="Product 1">
                <div class="card-body">
                <h5 class="card-title">Super Shoe</h5>
                <p class="card-text">It's pretty great</p>
                <p class="card-text"><small class="text-muted">$15.99</small></p>
                </div>
            </div>
        </div>
          
        <!-- product 2 -->
        <div class="col-sm-12 col-md-4 mb-4">
            <div class="card">
                <img src="img/shoe2.png" class="card-img-top" alt="Product 2">
                <div class="card-body">
                <h5 class="card-title">Pretty Good Shoe</h5>
                <p class="card-text">It's alright i guess</p>
                <p class="card-text"><small class="text-muted">$2.99</small></p>
                </div>
            </div>
        </div>
          
        <!-- product 3 -->
        <div class="col-sm-12 col-md-4 mb-4">
            <div class="card">
                <img src="img/shoe3.png" class="card-img-top" alt="Product 3">
                <div class="card-body">
                <h5 class="card-title">Weird Shoe</h5>
                <p class="card-text">Smells kinda funny</p>
                <p class="card-text"><small class="text-muted">$21.99</small></p>
                </div>
            </div>
        </div>
        
        <!-- product 4 -->
        <div class="col-sm-12 col-md-4 mb-4">
            <div class="card">
                <img src="img/shoe4.png" class="card-img-top" alt="Product 4">
                <div class="card-body">
                <h5 class="card-title">Big Shoe - sold individually</h5>
                <p class="card-text">For big feet</p>
                <p class="card-text"><small class="text-muted">$100.99</small></p>
                </div>
            </div>
        </div>
          
        
        <!-- product 5 -->
        <div class="col-sm-12 col-md-4 mb-4">
            <div class="card">
                <img src="img/shoe5.png" class="card-img-top" alt="Product 5">
                <div class="card-body">
                <h5 class="card-title">Exercise Shoe</h5>
                <p class="card-text">For when you wanna exercise</p>
                <p class="card-text"><small class="text-muted">$0.99</small></p>
                </div>
            </div>
        </div>
        
        <!-- product 6 -->
        <div class="col-sm-12 col-md-4 mb-4">
            <div class="card">
                <img src="img/shoe6.png" class="card-img-top" alt="Product 6">
                <div class="card-body">
                <h5 class="card-title">Running Shoe</h5>
                <p class="card-text">Better go catch it</p>
                <p class="card-text"><small class="text-muted">$69.99</small></p>
                </div>
            </div>
        </div>
        
        <!-- product 7 -->
        <div class="col-sm-12 col-md-4 mb-4">
            <div class="card">
                <img src="img/shoe7.png" class="card-img-top" alt="Product 7">
                <div class="card-body">
                <h5 class="card-title">Sleeping Shoe</h5>
                <p class="card-text">Great footwear for sleeping in</p>
                <p class="card-text"><small class="text-muted">$220.99</small></p>
                </div>
            </div>
        </div>
        
        <!-- product 8 -->
        <div class="col-sm-12 col-md-4 mb-4">
            <div class="card">
                <img src="img/shoe8.png" class="card-img-top" alt="Product 8">
                <div class="card-body">
                <h5 class="card-title">The Original Shoe</h5>
                <p class="card-text">The first of its kind</p>
                <p class="card-text"><small class="text-muted">$12000.99</small></p>
                </div>
            </div>
        </div>
        
        <!-- product 9 -->
        <div class="col-sm-12 col-md-4 mb-4">
            <div class="card">
                <img src="img/shoe9.png" class="card-img-top" alt="Product 9">
                <div class="card-body">
                <h5 class="card-title">Magnum Opus</h5>
                <p class="card-text">The world's most perfect shoe</p>
                <p class="card-text"><small class="text-muted">$999999999.99</small></p>
                </div>
            </div>
        </div>
        
        <!-- product 10 -->
        <div class="col-sm-12 col-md-4 mb-4">
            <div class="card">
                <img src="img/shoe10.png" class="card-img-top" alt="Product 10">
                <div class="card-body">
                <h5 class="card-title">Dog shoes</h5>
                <p class="card-text">Dogs love to chew on these</p>
                <p class="card-text"><small class="text-muted">$19.99</small></p>
                </div>
            </div>
        </div>
          
        </div> <!-- end of row div -->
      </div> <!-- end of card container -->
    
    <script src="/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
  </html>